@use '../../styles/mixins';
@use '../../styles/variables.scss' as var;

.wrapper {
	@include mixins.flex($justify: space-between, $align: center);
	position: fixed;
	z-index: 2000;
	bottom: 0;
	width: 100%;
	height: 8vh;
	padding: 0 var.$small-space;

	.containerIcons {
		@include mixins.flex($justify: space-between, $align: center);
		gap: var.$small-space;
		border-radius: var.$small-border;
		width: 100%;
		height: 100%;
		background-color: var.$highlight-2;
		padding: var.$small-space;

		.link {
			@include mixins.flex($direction: column, $justify: center, $align: center);
			color: var.$clear-color-1;
			font-size: var.$bigTitle-2;
		}
	}
}
