@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.wrapper {
	@include mixins.flex($align: center, $justify: center);
	margin-bottom: 8vh;
	margin-top: 0;

	@include mixins.min-width(small) {
		margin-top: calc(10vh + var.$small-space);
		margin-bottom: 0;
	}

	.loaderContainer {
		@include mixins.flex($align: center, $justify: center);
		width: 100%;
		height: 80vh;
	}

	.content {
		width: 100%;
		height: 100%;

		@include mixins.min-width(small) {
			@include mixins.flex($align: center, $justify: center);
			margin-bottom: 0;
		}

		.containerText {
			@include mixins.flex($direction: column, $align: center, $justify: center);
			text-align: center;
			height: 80vh;

			.title {
				@include mixins.font($font: var.$font, $size: var.$bigTitle-1, $weight: 800, $color: var.$dark-color-2);
			}
			.text {
				@include mixins.font($font: var.$font, $size: var.$bigTitle-3, $weight: 800, $color: var.$dark-color-2);
			}
		}

		.containerProducts {
			display: grid;
			grid-template: auto / 1fr 1fr;
			gap: var.$small-space;
			border: solid red;
			width: 100%;
			@include mixins.min-width(small) {
				grid-template: auto / repeat(5, 1fr);
				margin-bottom: 0;
			}
		}
	}
}
