@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;
@use '../../styles/animation.scss';


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    touch-action: pan-y;
    width: 100%;

    div{
        background: none !important;
    }
}

.content {
    position: relative;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .text {
        color: white;
        font-size: 1.2em;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5); // Adicionei sombra para melhor legibilidade
    }
}