  @use '../../styles/mixins.scss';
  @use '../../styles/variables.scss' as var;

  .containerCategory {
    @include mixins.flex($direction: column, $justify: center, $align: center);
    gap: var.$micro-small-space;
    width: 100%;
    height: 100%;
    background-color: var.$clear-color-1;
    padding: var.$small-space;
    border-radius: var.$small-border;

    @include mixins.min-width(small) {
      display: grid;
      grid-template: auto / 1fr 3fr;
      gap: var.$medium-space;
    }

    .containerInfo{
      @include mixins.flex($direction: column, $justify: center);
      gap: var.$micro-small-space;
      width: 100%;
      padding: var.$small-space;
      position: relative;
      overflow: hidden;
      z-index: 1;
      
      @include mixins.min-width(small) {
        grid-area: 2 / 1 / 3 / 2;
        height: 100%;
        background-color: var.$clear-color-3;
        border-radius: var.$medium-border;
      }

      h2{
        @include mixins.font($font: var.$font, $size: var.$bigTitle-3, $color: var.$dark-color-1, $weight: 600);
        z-index: 1;
      }
      
      p{
        @include mixins.font($font: var.$font, $size: var.$text, $color: var.$dark-color-1, $weight: 300);
        z-index: 1;
      }

      img{
        position: absolute;
        width: 100%;
        bottom: 0;
        right: -60%;
        z-index: 0;
      }
    }

    .containerStories{
      width: 100%;
    }
    
    .containerSwiper{
      @include mixins.flex($direction: row , $justify: center, $align: center);
      width: 100%;
      border-radius: var.$medium-border;
      overflow: hidden;
      
      @include mixins.min-width(small) {
        grid-area: 1 / 1 / 2 / 3;
      }

      img{
        object-fit: cover;
        width: 100%
      }
    }
    
    .containerCard{
      @include mixins.flex($justify: center, $align: center);
      grid-area: 2/2/4/3;
      overflow: scroll;
      width: 100%;
      background-color: var.$clear-color-3;
      padding: var.$small-space;
      border-radius: var.$medium-border;
      height: 100%;
    }
    
    .btnShowCategory{
      @include mixins.flex($justify: center, $align: center);
      @include mixins.font($font: var.$font, $size: var.$text, $color: var.$dark-color-1, $weight: 600);
      gap: var.$micro-small-space;
      padding: var.$micro-small-space;
      width: 100%;
      height: 100%;
      color: var.$clear-color-1;
      border-radius: var.$medium-border;
      background-color: var.$highlight-2;
    }
  }