@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.containerCategory {
  @include mixins.flex($direction: column);
  gap: var.$micro-small-space;
  width: 100%;
  
  h2{
    @include mixins.font($font: var.$font, $size: var.$bigTitle-3, $color: var.$dark-color-1, $weight: 600);
  }

  p{
    @include mixins.font($font: var.$font, $size: var.$text, $color: var.$dark-color-1, $weight: 300);
  }

  .containerCard{
    @include mixins.flex();
    gap: var.$small-space;
    overflow: scroll;
    width: 100%;  
  }
  
  .btnShowCategory{
    @include mixins.flex($justify: center, $align: center);
    @include mixins.font($font: var.$font, $size: var.$text, $color: var.$dark-color-1, $weight: 600);
    gap: var.$micro-small-space;
    padding: var.$micro-small-space;
    width: 100%;
    color: var.$clear-color-1;
    border-radius: var.$medium-border;
    background-color: var.$highlight-2;
  }
}