@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;


.wrapper{
    @include mixins.flex($align: space-between, $justify: center);
    flex-wrap: wrap;
    gap: var.$small-space;
    width: 100%;
    height: 100%;

    .container{
        display: grid;
        grid-template: auto / repeat(5, 1fr);
        gap: var.$small-space;
    }
}