@use '../../../styles/mixins';
@use '../../../styles/variables.scss' as var;

.cardContainer{
  @include mixins.flex($align: center);
  position: relative;
  overflow: hidden;
  gap: var.$small-space;
  z-index: 1;
  background-color: var.$medium-1 ;
  border-radius: var.$small-border;
  
  .containerImg{
    @include mixins.flex();
    width: fit-content;
    height: 100%;
    z-index: 1;
    background-color: var.$highlight-2;
    
    
    img{
      width: 100px;
    }
  }
  
  .cardTitle{
    @include mixins.font($font: var.$font, $size: var.$bigTitle-2, $color: var.$clear-color-1);
    z-index: 1;
  }

  .symbolBackground{
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: -70px;
  }
}
