@keyframes barProgress {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes entrace {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
  
}

@keyframes entraceToLeft {
  0%{
    opacity: 0;
    transform: translateX(10%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}