@use './mixins.scss';
@use './variables.scss' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a,
ul,
li,
ol {
  text-decoration: none;
  list-style-type: none;
}

a:visited {
  color: inherit;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
}

hr{
  width: 100%;
  z-index: 1;
}

#root {
  @include mixins.flex($direction: column, $justify: start, $align: center);
  width:100%; 
}

/* Estiliza toda a barra */
::-webkit-scrollbar {
  width: 7px;
  height: 12px;
}

/* Fundo da barra (trilha) */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Parte “deslizável” da barra */
::-webkit-scrollbar-thumb {
  background: var.$medium-1;
  border-radius: 6px;
}

/* Ao passar o mouse */
::-webkit-scrollbar-thumb:hover {
  background: var.$highlight-2;
}

body {
  background: var.$clear-color-2;
  @include mixins.flex($direction: column, $align: center, $justify: center);
  width: 100%;
  padding: var.$small-space; //*BUG → SMALL-SPACE → ROLAGEM LATERAL
  // melhora a qualidade das fontes
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Para navegadores baseados em Gecko (Firefox)
  text-rendering: optimizeLegibility;  
  // scroll suave
  scroll-behavior: smooth;
}