@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.heroPage {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: var.$micro-small-space;
	margin-bottom: 10vh;
	border-radius: var.$small-border;
	.header {
		width: 100%;
	}
}
