@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.wrapper{
  @include mixins.flex($direction: column, $justify: center, $align: center);
  width: 100%;
  gap: var.$micro-small-space;

  .controllPartProduct{
    @include mixins.flex($justify: center, $align: center);
    gap: var.$micro-small-space;
    padding: var.$micro-small-space;
    width: 100%;
    border: solid var.$micro-small-border var.$dark-color-1;
    border-radius: var.$small-border;
    background-color: var.$clear-color-1;

    .icon{
      @include mixins.font($size: var.$text, $color: var.$medium-1, $weight: 300);
      width: 10%;
    }
 
    .containerBtn{
      @include mixins.flex($align: center);
      gap: var.$micro-small-space;
      width: 80%;
      overflow: scroll;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    
    button{
      @include mixins.flex($justify: center, $align: center);
      @include mixins.font($font: var.$font, $size: var.$text, $color: var.$clear-color-3, $weight: 300);
      padding: var.$slim-space var.$micro-small-space;
      border-radius: var.$slim-border;
      background-color: var.$dark-color-1;
    }
    
    .active{
      background-color: var.$highlight-2;
      font-weight: 600;
      color: white;
    }
  }

  .studioBrin{
    @include mixins.flex($justify: center, $align: center);
    gap: var.$micro-small-space;
    padding: var.$micro-small-space;
    width: 100%;
    height: 40vh;
    border: solid var.$micro-small-border var.$dark-color-1;
    border-radius: var.$small-border;
    background-color: var.$clear-color-1;

    .productStudio{
      position: relative;
      @include mixins.flex($direction: column, $justify: center, $align: center);
      width: 80%;
      height: 100%;
      
      img{
        position: absolute;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
    
    .colorControll{
      @include mixins.flex($direction: column, $align: center);
      gap: var.$micro-small-space;
      width: 20%;
      height: 100%;
      border-radius: var.$small-space;
      padding: var.$micro-small-space;
      border: solid var.$dark-color-1 var.$micro-small-border;

      .icon{
        @include mixins.font($size: var.$text, $color: var.$medium-1, $weight: 300);
        height: 10%;
      }

      .containerColors{
        @include mixins.flex($direction: column, $align: center);
        gap: var.$micro-small-space;
        height: 80%;
        width: 100%;
        overflow: scroll;
        border-radius: var.$medium-border;
      }
      
      button{
        background-color: rgb(99, 173, 233);
        width: 100%;
        aspect-ratio: 1 / 1;
        border-radius: 50px;
        
        &:nth-child(1){
          border: solid var.$dark-color-1 var.$micro-small-border;
        }
      }
    }
  }
}