@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.wrapper {
    @include mixins.flex($direction: column, $justify: center, $align: center);
    gap: var.$small-space;
    width: 100%;

    @include mixins.min-width(small) {
        display: grid;
        grid-template: auto repeat(2, 1fr);
        min-height: 100vh;
    }

    .headerSection{
        @include mixins.flex($direction: column);
        grid-area: 1 / 1 / 2 / 3;
        gap: var.$micro-small-space;
        width: 100%;
    }

    .gallery{
        @include mixins.flex($justify: center, $align: center);
        gap: var.$micro-small-space;
        padding: var.$micro-small-space;
        width: 100%;
        height: 55vh;
        background-color: var.$clear-color-1;
        border-radius: var.$small-border;

        @include mixins.min-width(small) {
            height: 100%;
        }
    }
}