@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.wrapper {
    @include mixins.flex($direction: column, $justify: center, $align: center);
    gap: var.$small-space;
    width: 100%; 
    
    @include mixins.min-width(small) {
        display: grid;
        grid-template: auto repeat(2, 1fr);

        :nth-child(1) {
            grid-area: 1 / 1 / 2 / 3;
        }
    }

    .titles{
        @include mixins.flex($direction: column, $justify: center, $align: center);
        @include mixins.font($font: var.$font, $size: var.$bigTitle-3, $color: var.$clear-color-1, $weight: 300);
        gap: var.$small-space;
        width: 100%;
        padding: var.$micro-small-space;
        border-radius: var.$small-border;
        background-color: var.$highlight-2;
    }
}