@use '../../styles/mixins';
@use '../../styles/variables.scss' as var;

.wrapper{
  @include mixins.flex($direction: row, $align: center);
  padding: var.$small-space;
  gap: var.$micro-small-space;
  width: 100%;
  border-radius: var.$small-border;
  background-color: var.$clear-color-1;

  .icon{
    display: flex;
    font-size: 2em;
    color: var.$dark-color-2;
  }

  .containerSrc{
    @include mixins.flex($align: center);
    gap: var.$micro-small-space;
    width: 100%;
    height: 100%;

    .inputSrc{
      display: flex;
      height: 50px;
    }
  }
}