@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;

.wrapper{
  @include mixins.flex($justify: center, $align: center);
  gap: var.$micro-small-space;
  padding: var.$micro-small-space;
  width: 100%;
  height: 35vh;
  background-color: var.$clear-color-1;
  border-radius: var.$small-border;
  
  .containerMain{
    @include mixins.flex($justify: center, $align: center);
    width: 80%;
    height: 100%;
    overflow: hidden;
    border: solid var.$highlight-2 var.$micro-small-border;
    border-radius: var.$small-border;
    
    img{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
  
  .ContainerSecondary{
    @include mixins.flex($direction: column, $justify: center, $align: center);
    gap: var.$micro-small-space;
    width: 20%;
    height: 100%;
    
    .containerImg{
      @include mixins.flex($justify: center, $align: center);
      width: 100%;
      overflow: hidden;
      border: solid var.$clear-color-2 var.$micro-small-border;
      border-radius: var.$small-border;
      
      img{
        object-fit: cover;
        object-position: center;
        width: 100%;
      }
    }
    
    .active {
      border: solid var.$highlight-2;
    }
  }
}