@use '../../styles/mixins';
@use '../../styles/variables.scss' as var;


.wrapper {
    @include mixins.flex($direction: column, $align: center, $justify: center);
    width: 100%;
    height: 100%;
    
    .container{
        @include mixins.flex($justify: center);
        gap: var.$small-space;
        flex-wrap: wrap;
        width: 100%;
    }
}