@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;
@use '../../styles/animation.scss';

.wrapper {
    position: fixed;
    @include mixins.flex($direction: row);
    width: 100%;
    padding:  var.$micro-small-space var.$small-space;
    z-index: 10000; //a lib react-stories-insta estava com a barra de progresso sobrepondo tudo, isso resolveu
    bottom: 0;
    background: var.$clear-color-2;
    
    .container{
        @include mixins.flex($align: center);
        width: 100%;
        border-radius: var.$small-border;
        padding: var.$small-space;
        background: var.$clear-color-1;

        .shortcut{
            @include mixins.flex($justify: start, $align: center);
            gap: var.$small-space;
            width: 90%;

            .icon{
                @include mixins.flex($justify: start, $align: center);
                font-size: 2em;
                color: var.$dark-color-2;
            }
        }
        
        .menuHamburger{
            @include mixins.flex($direction: row);
            width: fit-content;
            
            aside{
                @include mixins.flex($direction: column, $justify: center, $align: center);
                position: absolute;
                right: 0;
                bottom: 0;
                width: 70%;
                height: 100vh;
                background-color: var.$medium-1;
                opacity: 0;
                animation: entraceToLeft .3s ease-in-out forwards;
            }
            
            button {
                font-size: 2em;
                color: var.$highlight-2;
                
                .closeMenu{
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    font-size: 3em;
                }
            }
            
            ul{
                @include mixins.flex($direction: column, $justify: center, $align: center);
                width: 100%;
                height: 90%;
                overflow: scroll;
                gap: var.$small-space;
                border: solid gold;
                li{
                    @include mixins.flex($direction: column, $justify: center, $align: center);
                }
            }
        }
    }
    
}