@use '../../styles/mixins.scss';
@use '../../styles/variables.scss' as var;
@use '../../styles/animation.scss';

.wrapper {
    position: fixed;
    @include mixins.flex($direction: row);
    width: 100%;
    padding:  var.$micro-small-space var.$small-space;
    z-index: 10000; //a lib react-stories-insta estava com a barra de progresso sobrepondo tudo, isso resolveu
    bottom: 0;
    background: var.$clear-color-2;
    
    .container{
        @include mixins.flex($align: center);
        width: 100%;
        border-radius: var.$small-border;
        padding: var.$small-space;
        background: var.$clear-color-1;

        .shortcut{
            @include mixins.flex($justify: start, $align: center);
            gap: var.$small-space;
            width: 90%;

            .icon{
                @include mixins.flex($justify: start, $align: center);
                font-size: 2em;
            }
        }
        
        .menuHamburger{
            @include mixins.flex($direction: row);
            width: fit-content;
            font-size: 2em;
        }
    }
    
}