@use '../../../../styles/mixins.scss';
@use '../../../../styles/variables.scss' as var;

.logoControll{
  @include mixins.flex($justify: center, $align: center);
  gap: var.$micro-small-space;
  width: 100%;
  border-radius: var.$small-border;
  height: 7vh;
  
  .uploadLogo{
    @include mixins.flex($justify: center, $align: center);
    width: 20%;
    height: 100%;
    background-color: var.$highlight-2;
    border-radius: var.$micro-small-space;
    @include mixins.font($font: var.$font, $size: var.$bigTitle-3, $color: var.$clear-color-1, $weight: 300);
    
    label{
      @include mixins.flex($justify: center, $align: center);
      width: 100%;
      height: 100%;
      
    }
    
    input{
      opacity: 0;
      position: absolute;
    }
    
  }
  .arrows{
    @include mixins.flex($justify: center, $align: center);
    width: 80%;
    height: 100%;
    border: solid var.$dark-color-1 var.$micro-small-border;
    border-radius: var.$micro-small-space;
    
    .icon{
      @include mixins.font($size: var.$text, $color: var.$medium-1, $weight: 300);
      width: 10%;
    }
    
    .containerBtn{
      @include mixins.flex($justify: start, $align: center);
      width: 80%;
      height: 100%;
      overflow: scroll;
      
      button{
        @include mixins.flex($justify: center, $align: center);
        @include mixins.font($size: var.$text, $color: var.$dark-color-1, $weight: 300);
        padding: var.$micro-small-space;
        height: 100%;
        border-radius: var.$slim-border;

      }
    }

  }
}